.combobox {
  display: inline-block;
  position: relative;
}

#combobox-options {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}

#combobox-options[aria-hidden="false"] {
  display: block;
}

#combobox-options li {
  padding: 0.5em;
}

.selected {
  background-color: #ddd;
}
